<form #form="ngForm" (ngSubmit)="onSubmit(form);">
  <div class="row">
    <div class="col-md-4 m-t-5 m-b-5">
      <div class="form-group">
        <label>Product Name:</label>
        <input type="text" class="form-control" [(ngModel)]="product.name" name="name" #name="ngModel">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 m-t-5 m-b-5">
      <div class="form-group">
        <label>Category:</label>
        <input type="text" class="form-control" [(ngModel)]="product.category" name="category" #category="ngModel">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 m-t-5 m-b-5">
      <div class="form-group">
        <label>Description:</label>
        <input type="text" class="form-control" [(ngModel)]="product.description" name="description"
          #description="ngModel">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 m-t-5 m-b-5">
      <div class="form-group">
        <label>Price:</label>
        <input type="text" class="form-control" [(ngModel)]="product.price" name="price" #price="ngModel">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 m-t-5 m-b-5">
      <div class="form-group">
        <label>Supplier:</label>
        <select [(ngModel)]="product.supplierId" class="form-control" name="supplierId" #supplierId="ngModel">
          <option value=0>--select--</option>
          <option *ngFor="let item of suppliers" value={{item.id}}>{{item.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
