<table class="table table-sm">
  <tr>
    <th>#</th>
    <th>Product Id</th>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
    <th>Supplier</th>
    <th>Ratings</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let p of products; let i = index">
    <td>{{i+1}}</td>
    <td>
      <span>{{p.id}}</span>
    </td>
    <td>
      <span *ngIf="!(selectedRow == p.id && status)">
        {{p.name}}
      </span>
      <input *ngIf="selectedRow == p.id && status" type="text" value={{p.name}}>
    </td>
    <td>
      <span *ngIf="!(selectedRow == p.id && status)">
        {{p.category}}
      </span>
      <input *ngIf="selectedRow == p.id && status" type="text" value={{p.category}}>
    </td>
    <td>
      <span *ngIf="!(selectedRow == p.id && status)">
        {{p.description}}
      </span>
      <input *ngIf="selectedRow == p.id && status" type="text" value={{p.description}}>
    </td>
    <td>
      <span *ngIf="!(selectedRow == p.id && status)">
        {{p.price}}
      </span>
      <input *ngIf="selectedRow == p.id && status" type="text" value={{p.price}}>
    </td>
    <td>{{p.supplier?.name || "Not loaded.."}}</td>
    <td>
      <span *ngFor="let item of p.ratings" class="fa fa-star checked"></span>
    </td>
    <td>
      <button (click)="deleteProduct(p.id)" class="btn btn-danger"> Delete </button>
    </td>
    <td>
      <button (click)="editProduct(p.id)" class="btn btn-success"> Edit </button>
    </td>
  </tr>
</table>
